.main-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.main-paper {
    text-align: center;
    width: 100%;
    padding: 100px 50px;
}